.favoriteButton {
    padding: 2px 5px;
    display: inline-block;
    background-color: transparent;
    border-style: none;
    transition: 0.2s;
}

.favoriteButton:hover {
    transform: scale(1.4);
    cursor: pointer;
}