.mainBody {
    display: grid;
    grid-template-columns: auto 1fr;   
    column-gap: 15px; 
}

 @media (max-width: 632px) {
    .mainBody {
        display: flex;
        flex-direction: column-reverse;
    }    
} 