.loadingIndicator {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.spinner_2{ 
    animation:spinner_1 1.05s infinite
}

.spinner_3 {
    animation-delay:.1s
}

.spinner_4 {
    animation-delay:.2s
}

@keyframes 
spinner_1 {
    0%,57.14% {
        animation-timing-function:cubic-bezier(0.33,.66,.66,1);transform:translate(0)
    }
    28.57% {
        animation-timing-function:cubic-bezier(0.33,0,.66,.33);transform:translateY(-6px)
    }
    100% {
        transform:translate(0)
    }
}